<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Set Availability</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>Your Availability</h1>
    <form action="/set_availability" method="post">
      <p>Pick a Day (use YYYY-MM-DD format):</p>
      <input type="date" name="day" required /><br />
      <p>Pick a Start and End Time:</p>
      <input type="time" name="start" required /> to
      <input type="time" name="end" required /><br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
